<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <h1>
        <a class="home" href="/">Facespace</a>
      </h1>
      <% if (currentUser.name) { %>
        <a class="top-button" href="/users/<%= currentUser._id %>"> Hello <%= currentUser.name %>! </a>
      <% } else { %>
        <a href="/signin" class="top-button">Sign in</a>
      <% } %>
  </header>