.header {
    height: var(--header-height);
    background: var(--primary-color);
    padding: 0 var(--page-horizontal-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    color: #fff;
}

.top-button {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Teko", sans-serif;
}
